body {
	background: #add8e6;
	font-family: Helvetica, Arial, serif;
	text-align: center;
}
h1 {
	font-family: serif;
	font-size: 36px;
	margin-bottom: 15px;
}
div {
	text-align: left;
	width: 500px;
	padding: 20px;
	border: 1px solid #cccccc;
	margin: 5px auto;
	background: #ffffff;
	border-radius: 15px;
}
p { 
	margin: 7px 0 0 0;
	text-align: right;
	font-size: 14px;
}
.user {
	font-weight: bold;
}
.highlighted {
	color: #add8e6;
	text-decoration: underline;
}
